body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
.top_area{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    margin-bottom:100px;
}
.span{
    color:#F88466;
}
.area_style h1{
    font-size:50px;
}
.area_style{
    width:36%;
    margin-left:7%;
    margin-right:7%;
}
.area_style img{
    width:100%;
}
.area_style a{
    text-decoration: none;
    background-image: linear-gradient(#FF9B76,#FF6649);
    padding:10px 40px;
    border-radius:5px;
    color:#fff;
    font-weight:bold;
}
.middel_area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    display: flex;
    background-position: right;
}

